.footer {
    color: #fff;
    padding: 40px 0;
    background-color: #003161;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 80px; /* Adjust the size as needed */
    height: auto;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons img {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
  }
  
  .footer-logo{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    max-width: 150px;
    
  }
  .footer-h4{
    color: white !important;
    font-size: 20px;
    padding-right: 15px;
  }
  


  /* ---batil css--- */


