.skill {
  background-image: url("../assets/img/banner-bg2.jpg");
}

.skill-bx {
  background-color: #2C0E5F;
  margin-top: 50px;
}

.item {
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #3F9B0B;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 200px;
  height: 120px;
}
.item img {
  max-width: 30%;
  max-height: 50%;
}

.item h5 {
  margin-top: 10px;
}
